

{% block title %}Hello OtherController!{% endblock %}

{% block body %}
<style>

</style>
    <img src="/var/www/thomas/SeCrud/public/image/logo.png" alt="logo">
    <a href="{{ path('app_login') }}">Se connecter</a>
    <a href="{{ path('app_login') }}">Aide</a>

{% endblock %}
