{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.password, {'label': 'Mot de passe','attr':{'placeholder': 'password'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmez le mot de passe choisi','attr':{'placeholder': 'password'}}) }}
    <button type="submit" class="btn btn-success"> Enregistrer</button>
{{ form_end(form) }}

{% endblock %}